@model OplataKUWebApp.Models.ClientViewModels.ClientViewModel
@{
    ViewData["Title"] = "Home Page";
}
<p><a href="/Client/Add">Добавить владельца квартиры</a></p>

<p><a href="/Client/Index2">К списку квартир</a></p>

<h1 class="display-4">Найти владельца квартиры</h1>
<div asp-validation-summary="All" class="alert-info"> </div>

    <form method="post" action="/Client/" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="">
            <input type="text" name="Lastname" placeholder="Фамилия" class="form-control"  />
        </div>

        <div class="">
            <input type="text" name="Firstname" placeholder="Имя" class="form-control" />
        </div>

        <div class="">

            <input type="text" name="Midname" placeholder="Отчество" class="form-control" />
        </div>

        <div class="">
            <input type="text" name="Email" placeholder="Email" class="form-control" />
        </div>

        <div class="">
            <select name="ApartId" class="form-control">
                <option value="">Любая квартира</option>
                @foreach(var item in Model.PayInfo)
                {
                    <option value="@item.ApartId"> @item.ApartId</option>
                }
            </select>
        </div>

        
            <button type="submit" align="text-start" class="btn btn-primary">Найти</button>

       
    </form>
<div class="text-start ">
<h1 class="display-4">Список владельцев квартир</h1>


    @if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    <table class="table">
        <tr>
            <th>Id Владельца</th>
            <th>Имя</th>
            <th>Адрес электронной почты</th>
            <th>Id квартиры</th>
        </tr>
        @foreach(var client in Model.Clients)
        {
           
            <tr>
                <td>@client.Id</td>
                <td>@client.Fullname</td>
                <td>@client.Email</td>
                <td>@client.ApartId</td>
                <td>@client.Street</td>
                <td>@client.Housenumber</td>
                <td>@client.Apartnumber</td>  
                <td>
                    <a href=@Url.Action("Remove","Client", new {id =client.Id})>Удалить</a>
                    <a href="/Client/Edit/@client.Id">Редактировать</a>
                </td>
            </tr>
        }
    </table>


</div>